* {
  /* font-family: "Poppins", sans-serif;*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--background-color-black);
  letter-spacing: 1px;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: var(--background-color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --color-1: #d9efff;
  --color-2: #b2deff;
  --color-3: #427ba6;
  --color-4: #5e8eed;

  --background-color-black: #333;
  --background-color-white: #fff;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.btn-primary {
  padding: 0.7rem 2rem;
  background-color: var(--background-color-white);
  text-transform: uppercase;
  transition: all 0.4s;
}

.btn-primary:hover {
  background-color: var(--color-3);
  color: #fff;
}
